div.espacio-parrafos{
    padding-bottom: 2%;

    p.negrita{
        font-weight: bold;
        font-size: 1rem;
        text-indent:0px ;
        padding-left: 2%;
    }

    ul.items li{
        list-style:square;
    }
}

    

#envios, #mediosdepago, #cambiosydevoluciones{
    padding-bottom: 10%;
}
 






