
/*VARIABLES*/

$rosaHover:rgb(230, 18, 166);

@mixin divrubros{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
    
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center center;
  height: 100vh;

}



main.container-index{
  display:flex;
  flex-direction: column;
  row-gap: 0,5rem;


  div{

    a.arubro:hover{
      color: $rosaHover;
    }
    

    a.arubro{
      text-decoration: none;
      color: white;

    

      h2.rubro{
        font-size: 6vw;
        letter-spacing: .2rem;
        font-weight: 900;
      }

      h1.rubro{
        font-size: 10vw;
        letter-spacing: .2rem;
        font-weight: 900;
        animation: ease-in portada 1.10s;
      }
    }

  }

  @keyframes portada{
    0% {
      transform:scale(0);
    }

    100% {
      transform:scale(1);
    }
  }

  

  .todos{  
    @include divrubros;
    background-image: url("../imagenes/capturenarita3.JPG");
  }

       
  .beach{  
    @include divrubros;
    background-image: url("../imagenes/capturebwkraked.JPEG");
  }

  .day{
    @include divrubros;
    background-image: url("../imagenes/capturedia2.JPG");
  }

  .night{
    @include divrubros;
    background-image: url("../imagenes/capturenochekraked2.JPG");
  }
}